<!DOCTYPE html>
<html>
<head>
  <title>Wow-L!fe</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
  <meta name="keywords" content="health,attitude,alternative medicine,body,mind,spirit,emotions,yoga,reiki,acupressure,vasthu,treatment,training,counselling,arhamm,chennai,india,stress,pancha maha bhooth,healing,energy,athma,soul.">
  <meta name="description" content="individual,family,organisational hormony,through reiki,yoga,acupressure,using treatment training counseling,forhouse visit hospital visit,using drugless methods,and energy healing,pancha maha bhootha.">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="main_content">
  <header>
    <div class="logo"></div>
    <span class="webName">Wow-Life</span>
    <div class="menu">
      <ul>
        <a href=<%= root_path %>>
          <li class="moving_logo">Home</li>
        </a>
        <a href=<%= health_path %>>
          <li>Health + Attitude</li>
        </a>
        <a href=<%= hormony_path %>>
          <li>Complete Hormony</li>
        </a>
        <a href=<%= healing_path %>>
          <li>Heal yourself, Others</li>
        </a>
        <a href=<%= projects_path %>>
          <li>Reach out Project</li>
        </a>
        <a href=<%= case1_path %>>
          <li class="sub_menu_main">Case Studies
            <ul class="sub_menu">
              <a href=<%= case1_path %>>
                <li>Case 1</li>
              </a>
              <a href=<%= case2_path %>>
                <li>Case 2</li>
              </a>
              <a href=<%= case3_path %>>
                <li>Case 3</li>
              </a>
              <a href=<%= case4_path %>>
                <li>Case 4</li>
              </a>
            </ul>
          </li>
        </a>
        <a href=<%= person_path %>>
          <li>Person Behind</li>
        </a>
        <a href=<%= contact_us_path %>>
          <li>Contact Us</li>
        </a>
      </ul>
    </div>
  </header>
  <div class="fixed_header">
    <div class="flash">
      <h1>Wow-L!fe</h1>
    </div>
  </div>
  <div class="content">
    <%= yield %>
  </div>
</div>
</body>
</html>
